USE [master]
GO
/****** Object:  Database [Calidad]    Script Date: 28/09/2025 17:37:37 ******/
CREATE DATABASE [Calidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Calidad', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Calidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Calidad_log', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Calidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Calidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Calidad]
GO
/****** Object:  Table [dbo].[ConfiguracionSistema]    Script Date: 28/09/2025 17:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Llave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 28/09/2025 17:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[DPI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Salario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/09/2025 17:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_Authenticate]    Script Date: 28/09/2025 17:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- SP para autenticar (devuelve 1 si ok)
CREATE PROCEDURE [dbo].[sp_Authenticate]
  @username VARCHAR(50),
  @password_hash VARCHAR(255),
  @ok INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  IF EXISTS (SELECT 1 FROM Users WHERE username = @username AND password_hash = @password_hash)
    SET @ok = 1;
  ELSE
    SET @ok = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spg_EmpleadoIndividual]    Script Date: 28/09/2025 17:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Stored Procedures para la tabla Empleados
-- ============================================

-- 1️⃣ Obtener un empleado individual por DPI
CREATE   PROCEDURE [dbo].[spg_EmpleadoIndividual]
    @DPI NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DPI, Nombre, Email, Salario
    FROM Empleados
    WHERE DPI = @DPI;
END;
GO
/****** Object:  StoredProcedure [dbo].[spg_EmpleadoListado]    Script Date: 28/09/2025 17:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2️⃣ Listado de todos los empleados
CREATE   PROCEDURE [dbo].[spg_EmpleadoListado]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DPI, Nombre, Email, Salario
    FROM Empleados;
END;
GO
/****** Object:  StoredProcedure [dbo].[sps_EmpleadoActualizar]    Script Date: 28/09/2025 17:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Actualizar un empleado existente
CREATE   PROCEDURE [dbo].[sps_EmpleadoActualizar]
    @DPI NVARCHAR(20),
    @Nombre NVARCHAR(200),
    @Email NVARCHAR(200),
    @Salario DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Empleados
    SET Nombre = @Nombre,
        Email = @Email,
        Salario = @Salario
    WHERE DPI = @DPI;
END;
GO
/****** Object:  StoredProcedure [dbo].[sps_EmpleadoEliminar]    Script Date: 28/09/2025 17:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Eliminar un empleado por DPI
CREATE   PROCEDURE [dbo].[sps_EmpleadoEliminar]
    @DPI NVARCHAR(20)
AS
BEGIN
  

    DELETE FROM Empleados
    WHERE DPI = @DPI;

END;
GO
/****** Object:  StoredProcedure [dbo].[sps_EmpleadoInsertar]    Script Date: 28/09/2025 17:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Insertar un nuevo empleado
CREATE   PROCEDURE [dbo].[sps_EmpleadoInsertar]
    @DPI NVARCHAR(20),
    @Nombre NVARCHAR(200),
    @Email NVARCHAR(200),
    @Salario DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Empleados (DPI, Nombre, Email, Salario)
    VALUES (@DPI, @Nombre, @Email, @Salario);
END;
GO
USE [master]
GO
